.ag-theme-material {
    --ag-font-size: 17px;
    height: 100vh;
    width: 100%;
}

.ag-theme-material .ag-header-cell {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-style {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 100px;
}

.custom-ag-theme .ag-header-cell {
    font-size: 15px;
}
