<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}"
>
  <body>
    <div layout:fragment="content">
      <h2>Add a quizz</h2>
      <form th:action="@{/save}" th:object="${quizz}" action="#" method="post">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" th:field="*{name}" />
          <div style="clear: both; display: block; height: 10px"></div>

          <label for="description">Description</label>
          <input type="text" id="description" th:field="*{description}" />
          <div style="clear: both; display: block; height: 10px"></div>

          <!-- published - boolean //not sure yet-->
          <p th:if="${quiz.published}">Published</p>
          <p th:unless="${quiz.published}">Unpublished</p>
        </div>
        <button>Add</button>
        <a href="/">Cancel</a>
      </form>
    </div>
  </body>
</html>
