<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <link
      type="text/css"
      rel="stylesheet"
      href="css/bootstrap.min.css"
      th:href="@{css/bootstrap.min.css}"
    />
  <head>
    <title>Add Quizz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <h2>Add a quizz</h2>
      <form
        th:action="@{/savequizz}"
        th:object="${quizz}"
        action="#"
        method="post"
      >
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" th:field="*{name}" />
          <div style="clear: both; display: block; height: 10px"></div>

          <label for="description">Description</label>
          <input type="text" id="description" th:field="*{description}" />
          <div style="clear: both; display: block; height: 10px"></div>

          <!-- published - boolean //not sure yet-->
          <label for="published">Published</label>
          <input type="checkbox" id="published" th:field="*{published}" />
        </div>
        <button>Add</button>
        <a href="/">Cancel</a>
      </form>
    </div>
  </body>
</html>
