<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add new quiz</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
<body>
    <div layout:fragment="content">
        <h2>Add a quiz</h2>
        <form th:action="@{/saveQuiz}" th:object="${quiz}" method="post" action="#">
            <div>
                <label for="quizname" class="form-label">Name</label>
                <input type="text" th:field="*{quizName}" placeholder="Type in your quiz name" class="form-control"/>
                <label for="name" class="form-label">Description</label>
                <input type="text" th:field="*{quizDescription}" placeholder="Type in quiz description" class="form-control"/>
                
                <input type="checkbox" th:field="*{published}" class="form-check-input" />
                <label class="form-check-label" for="published">Published</label>

                <!-- <div
                    th:if="${#fields.hasErrors('content')}"
                    th:errors="*{content}"
                ></div> -->
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="/" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>
