<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Quiz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>


    <h1>Edit Quiz</h1>
    <div>
        <form th:object="${quizz}" th:action="@{../savequizz}" action="#" method="post">

            <input type="hidden" id="quizzId" th:field="*{quizzId}" />

            <label for="name">Name: </label>
            <input type="text" th:field="*{name}" />

            <label for="description">Description: </label>
            <input type="text" th:field="*{description}" />

            <label for="creationTime">Creation Time: </label>
            <input type="text" th:field="*{creationTime}" />

            <label for="status">Status: </label>
            <select id="status" th:field="*{status}" class="form-control">
                <option th:each="status: ${statuses}" th:value="${status.statusId}"
                    th:text="${status.status  ? 'published':'not published'}"></option>
            </select>



            <label for="category">Category:</label>
            <select id="category" th:field="*{category}" class="form-control">
                <option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}">
                </option>
            </select>

            <input type="submit" value="Save" />

        </form>
    </div>
</body>


</html>