<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>


    <h1>Edit Question</h1>
    <div>
        <form th:object="${question}" th:action="@{../savequestion}" action="#" method="post">

            <input type="hidden" id="questionId" th:field="*{questionId}" />

            <label for="questionText">Question: </label>
            <input type="text" th:field="*{questionText}" />

            <label for="correctAnswer">Answer: </label>
            <input type="text" th:field="*{correctAnswer}" />

            <label for="difficulties">Difficulty: </label>
            <select id="difficulty" th:field="*{difficulty.difficultyId}" class="form-control">
                <option th:each="difficulty: ${difficulties}" th:value="${difficulty.difficultyId}"
                    th:text="${difficulty.level}"></option>
            </select>



            <input type="hidden" id="quizz" th:field="*{quizz}" />

            <input type="submit" value="Save" />

        </form>
    </div>
</body>


</html>