<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Quizz Question List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

  <body>
    <div class="container">
      <div class="col-md-4">
        <h1>Quizzes</h1>
      </div>

      <div class="col-md-4">
        <h3 th:inline="text">Welcome!</h3>
        <h5 th:inline="text">
          You are <span sec:authentication="name"></span>!
        </h5>
      </div>

      <div class="col-md-4" style="
          float: right;
          padding: 20px 0;
          margin-top: -5%;
          margin-right: -15%;
        ">
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out" class="btn btn-xs btn-danger" />
        </form>
      </div>
      <h3 th:text="'QUESTIONS OF ' + ${quizzName}"></h3>
        <table class="table table-striped">
          <thead>
            
                
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item active">
                          <a class="nav-link" th:href="@{/questionlist/{quizzId}(quizzId=${quizzId})}">All</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" th:href="@{/easyquestionlist/{quizzId}(quizzId=${quizzId})}">easy</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" th:href="@{/normalquestionlist/{quizzId}(quizzId=${quizzId})}">normal</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" th:href="@{/hardquestionlist/{quizzId}(quizzId=${quizzId})}">hard</a>
                      </li>
                  </ul>
              </div>
          </nav>
           

            <tr>
              <th>Question Text</th>
              <th>Correct Answer</th>
              <th>Difficulty Level</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="question : ${questions}">
              <td th:text="${question.questionText}"></td>
              <td th:text="${question.correctAnswer}"></td>
              <td th:text="${question.getDifficulty().getLevel()}"></td>
              <td>
                <a th:href="@{'/editquestion/'+${question.questionId}+'/'+${question.getQuizz().getQuizzId()}}" class="btn btn-warning">Edit</a>
              </td>
              <td>
                <a th:href="@{'/deletequestion/'+${question.questionId}+'/'+${question.getQuizz().getQuizzId()}}" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
        <a th:href="@{'/addQuestion/'+${quizzId}}" class="btn btn-primary">Add a Question</a>
        <a th:href="@{/quizzlist}" class="btn btn-info">Back to Quizz List</a>
    </div>
  </body>

</html>